@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks */
html, body, #root {
  height: 100%;
  background: radial-gradient(ellipse at center, #020617 0%, #000000 100%);
  color: #e6eef8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
